<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @colaboradore.nome %>
</p>

<%= link_to 'Edit', edit_colaboradore_path(@colaboradore) %> |
<%= link_to 'Back', colaboradores_path %>
